<header aria-label="Site header" class="header" id="header" role="banner">
     {{ page.header }}
</header>
<section class="main" id="main">
   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer--bottom">
       {{ page.footer_bottom }}
   </div>
</footer>
